.nav-item:hover{
  background-color: rgb(206, 206, 206);
  
}

.layoutHeader{
  background-image: url("public/image.png");
  background-size: 90% 100%;
  background-position: right;
  background-repeat: no-repeat;
}