.nav-item:hover{
  background-color: rgb(206, 206, 206);

}

.logOutBtn {
  border-radius: 5px;
  border: solid 1px #106c76;
  color: #106c76;
  background-color: #E1E1E1;
  font-size: 15px;
  height: 40px;
  width: 80px;
}
.logOutBtn:hover {
	color: #ffffff;
	background-color:#106c76;
}
.logOutBtn:active {
	position:relative;
	top:1px;
}


.layoutHeader{
  background-image: url("public/image.png");
  background-image: url("image.png");
  background-size: 90% 100%;
  background-position: right;
  background-repeat: no-repeat;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.react-calendar {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 300px;
  background: #fff;
}

.react-calendar__navigation {
  display: flex;
  background-color: #106c76;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #bdbdbd;
}

.react-calendar__navigation button {
  color: white;
  background: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #ef9389;
  border-radius: 10px;
}

.react-calendar__month-view__weekdays {
  display: flex;
  background-color: #f0f0f0;
  color: #757575;
  border-bottom: solid black 1px;
}

.react-calendar__month-view__weekdays__weekday {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
}

.react-calendar__month-view__days__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
}

.react-calendar__tile {
  border: 1px solid transparent;
}

.react-calendar__tile--active {
  background: #0073e6;
  color: white;
  border-radius: 5px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #106c76;
  color: white;
  border-radius: 5px;
}

.react-calendar__tile--now {
  background: #106c76;
  color: white;
  border-radius: 5px;
}

.react-calendar__tile--hasActive {
  background: #106c76;
  border-radius: 5px;
}

.contentContainer {
  margin: 0%;
  display: flex;
  height: 100vh;
}

.calendar {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.outlet {
  flex: 3;
  background-color: #fff;
  padding: 2.5%;
  box-sizing: border-box;
}


.custom-btn {
  background-color: #ffffff; 
    border-color: #26b5b2; 
    color: #000; 
}

.custom-btn:hover {
  background-color: #26b5b2; 
  border-color: #26b5b2; 
  color: #fff;
}

.navbar{
  background-color: #000;
}

.studentData {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 10px;
  background-color: #f0f2f5; 
  font-family: 'Trebuchet MS', sans-serif;
}

.student-page-header {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #333; 
}

.student-page-table-container {
  width: 80%;
  background: #106c76; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding-top: 20px;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  box-sizing: border-box; 
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; 
  margin-top: 5%;

}

.student-page-table-body{
  position: relative;
  padding-top: -20px;
}


.student-page-table-container:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.student-page-table-header {
  margin: 0 -20px 10px -20px; 
  padding: 10px 20px;
  background-color: #19aab9 ;
  color: #ffffff;
  border-radius: 15px 15px 15px 15px; 
  font-size: 20px;
  text-align: center;
  position: absolute;
    top: -20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.student-page-table {
  width: 100%;
  border-collapse: collapse; 
  border-radius:15px 15px 15px 15px ;
  overflow: hidden; 
  background: white; 
}

.student-page-table-header-container{
  display: flex;
  justify-content: center;
}

.student-page-table th, .student-page-table td {
  border: 1px solid black;
  padding: 8px;
}

.student-data-th_size{
  width: 50%;
}
.course-data-size{
  width: 80%;
}

.courses-table-container{
  justify-content: center;
}

.courses-table-header-container{
  display: flex;
  justify-content: center;
}

.courses-table-header-container {
  margin: 0 -20px 10px -20px;
  padding: 10px 20px;
  background-color: #19aab9 ;
  color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  font-size: 20px;
  text-align: center;
  position: relative;
    top: -20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}



.table-container {
  width: 80%;
  background: #106c76;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}

.table th, .table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.table-hover tbody tr:hover {
  background-color: #ddd;
}

.table-buttons button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #19aab9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table-buttons button:hover {
  background-color: #106c76;
}